<% if notice %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>権限:</strong>
  <%= current_user.admin_flg? ? '管理者' : '一般' %>
</p>

<% if user_signed_in? %>
  <% if current_user.admin_flg? %>
    <%= link_to '編集', edit_user_path(@user), class: 'btn btn-link' %> |
  <% end %>
<% end %>
<%= link_to '戻る', users_path, class: 'btn btn-link' %> |
<% if user_signed_in? %>
  <% if current_user.admin_flg? %>
    <%= link_to '新規登録', new_user_path(@user), class: 'btn btn-link' %>
  <% end %>
<% end %>