<% if notice %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>商品:</strong>
  <%= @line_item.product_id %>
</p>

<p>
  <strong>カート:</strong>
  <%= @line_item.cart_id %>
</p>

<p>
  <strong>個数:</strong>
  <%= @line_item.quantity %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
